<%= label :profile, :heard_from_specific, _("Please indicate where you heard about Billing Boss."), :class => "profile_subtitle" %><span class='mandatory'> *</span><br/>
<%= text_field :profile, :heard_from_specific, :class => "user_profile_text"  %>