<li class="country-border-fix"><div class="form_field_hdr"><label for="company_state"><%= _("%{state_prompt}:") % { :state_prompt => _( unknown_country.country_settings.state_label)} %></label></div>
<%= text_field "profile", "company_state" %>
</li><li>
<div class="form_field_hdr"><label for="company_postalcode"><%= _("%{postalcode_prompt}:") % { :postalcode_prompt => _( unknown_country.country_settings.postalcode_label)} %></label></div>
<%= text_field "profile", "company_postalcode" %>
</li>
