<div id="auto-number-taken" class="x-hidden">
	<div class="x-window-header"><%= i_(@invoice,'Invoice number already taken') %></div>
	<div id="auto-number-taken-fields">
		<font size=2><%= render :partial => 'invoices/form_for_dialog' %></font>
	</div>
</div>
