<% if @invoice.line_items.size > 0 %>
	<ul style="font-size: 13px !important">
	<% @invoice.line_items.each do |line_item| -%>
		<li>
            <% if !line_item.quantity.nil? && line_item.quantity > 1 %>
                <%= _("%{subtotal} %{currency}  (%{qty} units @ %{price} %{currency} ea.)") % { :subtotal => format_amount(line_item.subtotal), :currency => @invoice.currency, :qty => format_amount(line_item.quantity), :price => format_amount(line_item.price)} %>
            <% else %>
                <%= _("%{subtotal} %{currency}  (%{qty} unit @ %{price} %{currency})") % { :subtotal => format_amount(line_item.subtotal), :currency => @invoice.currency, :qty => format_amount(line_item.quantity), :price => format_amount(line_item.price)} %>
            <% end %>
            <% if !line_item.description.blank? %>
                <br/><%= h(line_item.description) %>
            <% end %>
		</li>
	<% end %>
	</ul>
<% else %>
<p><%= _("No line items.") %></p>
<% end %>

