<html><head><title><%= _('Please wait...') %></title>
<meta http-equiv="refresh" content="0; url=<%= @redirect_protocol || 'http' %>://<%= request.host_with_port %><%= @redirect_path %>"></head></html>
