<div class="row">
  <div class="cell_label" id="province_state_label"><label for="province_state"><%= _('Province/State') %></label></div>
  <div class="cell_value"><%= text_field "customer", "province_state", :class => "colored_field" %></div>
</div>
<div class="row">
  <div class="cell_label" id="postalcode_label"><label for="postalcode_zip"><%= _('Postal Code') %></label></div>
  <div class="cell_value"><%= text_field "customer", "postalcode_zip", :class => "colored_field" %></div>	
</div>