<li class="country-border-fix"><div class="form_field_hdr"><label for="province_state"><%= _('Province/State') %>:</label></div> 
<%= text_field "customer", "province_state" %>
</li>

<li>
<div class="form_field_hdr"><label for="postalcode_zip"><%= _('Postal Code') %>:</label></div>
<%= text_field "customer", "postalcode_zip" %>
</li>
