development:
  bucket_name: billingboss-development-uploads
  access_key_id: @@APP_AWS_ACCESSKEY_ID@@
  secret_access_key: @@APP_AWS_SECRET_ACCESSKEY@@

test:
  bucket_name: billingboss-test-uploads
  access_key_id: @@APP_AWS_ACCESSKEY_ID@@
  secret_access_key: @@APP_AWS_SECRET_ACCESSKEY@@

production:
  bucket_name: billingboss-production-uploads
  access_key_id: @@APP_AWS_ACCESSKEY_ID@@
  secret_access_key: @@APP_AWS_SECRET_ACCESSKEY@@
  use_ssl: true

load_testing:
  bucket_name: billingboss-load-testing-uploads
  access_key_id: @@APP_AWS_ACCESSKEY_ID@@
  secret_access_key: @@APP_AWS_SECRET_ACCESSKEY@@
  use_ssl: true

staging:
  bucket_name: billingboss-staging-uploads
  access_key_id: @@APP_AWS_ACCESSKEY_ID@@
  secret_access_key: @@APP_AWS_SECRET_ACCESSKEY@@
  use_ssl: true

preview:
  bucket_name: billingboss-preview-uploads
  access_key_id: @@APP_AWS_ACCESSKEY_ID@@
  secret_access_key: @@APP_AWS_SECRET_ACCESSKEY@@
  use_ssl: true
