<div id="right_corner" >
    <div id="header_bottom_simply" style=" height: 75px; background-image: url('/images/simply/background_top.gif')">
      	<div id="header_simply">
      	  <div id="right_corner_simply" >
			    <div id="logo_simply">
			    	
			    </div>
      	  </div>
        </div>
      </div>
</div>

