# Settings specified here will take precedence over those in config/environment.rb

# The production environment is meant for finished, "live" apps.
# Code is not reloaded between requests
config.cache_classes = true

# Use a different logger for distributed setups
# config.logger = SyslogLogger.new
config.log_level = :debug

# Full error reports are disabled and caching is turned on
config.action_controller.consider_all_requests_local = true
config.action_controller.perform_caching             = true
config.action_controller.page_cache_directory = RAILS_ROOT+"/public/cache/"

# site to use for session_domain
config.action_controller.session :session_domain => '.billingboss.com'

# Enable serving of images, stylesheets, and javascripts from an asset server
# config.action_controller.asset_host                  = "http://assets.example.com"

# Disable delivery errors, bad email addresses will be ignored
# config.action_mailer.raise_delivery_errors = false

# Tell ActionMailer not to deliver emails to the real world.
# The :test delivery method accumulates sent emails in the
# ActionMailer::Base.deliveries array.
#config.action_mailer.delivery_method = :test
config.action_mailer.raise_delivery_errors = true
config.action_mailer.default_url_options = {:host => 'www.billingboss.com', :only_path => false}

# Setup the ENV["RAILS_ASSET_ID"] so resources have the same path 
# on every machine.  Assumes that rake svn_version has been run.
if File.exist?("config/svn_version")
  File.open("config/svn_version", "r") {|f| ENV["RAILS_ASSET_ID"] = f.readline }
end
 
  puts "using electricmail"
  config.action_mailer.delivery_method = :smtp
  config.action_mailer.smtp_settings = {
    :tls => true,
    :address  => "smtp.gmail.com",
    :authentication => :plain,
    :password => "@@APP_BB_EMAIL_PASSWORD@@",
    :domain => "billingboss.com",
    :user_name => "@@APP_BB_EMAIL_USERNAME@@",
    :port  => 587
  }
     
  config.after_initialize do

    # enable detailed CAS logging
    cas_logger = CASClient::Logger.new(RAILS_ROOT+'/log/cas.log')
    cas_logger.level = Logger::DEBUG

    CASClient::Frameworks::Rails::Filter.configure(
      :cas_base_url  => "https://@@APP_CAS_WEBSITE_DNS@@/",
      :add_locale => true,
      :user_prefill => true,
      :username_session_key => :sage_user,
      :session_extra_attributes_key => :cas_extra_attributes,
      :logger => cas_logger,
      :filter_implementation => "CookieSessionFilterImplementation",
      :authenticate_on_every_request => false
    )
  end
