#contest_content, #contest_content_small,
#tour_content, #tour_content_small{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#doc3 {
	margin-left: 5px;
	margin-right: 5px;
}
.login_input {
	color: #493F0B;
	border: 1px solid #A7A37E;
	background-color: #FFFFCC;
	padding-left: 2px;
	padding-right: 2px;
    font-size:150%;
}

body {
	background-image: url('/themes/default/images/BG_outer_home.gif');
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #FFFFFF;
}

em {
  font-style: italic;
}

#header {
	background-image: url(/themes/default/images/spark/inside_header_bg_gradient.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#ffffff;
}

#header_inner {
	position:relative;
	width:100%;
	margin:0 0;
	background-image:url(/themes/default/images/spark/inside_header_bg.gif);
	background-repeat:no-repeat;
	background-position: right top;
}

#logo-text {
	margin:15px 15px 10px 13px;
	float:left;
}

#right_corner {
	width: 100%;
	margin-top: 0px;
	background-image: url('/themes/default/images/Corner_topright_home.gif');
	background-repeat: no-repeat;
	background-position: top right;
}

#ext_hometopnavbar {
	background-image: url('/themes/default/images/topnavbar_right.gif');
	background-repeat: no-repeat;
	background-position: top right;
	float: right;
	height: 5em;
	margin-top: 1em;
	margin-right: 1em;	
}

#ext_hometopnavbar ul {
	list-style: none;
	padding-top: 10px;
	text-align: center;
	background-image: url('/themes/default/images/topnavbar_left.gif');
	height: 5em;
	background-repeat: no-repeat;
	background-position: top left;	
    margin-top: 0;
	float: left;
}

#ext_hometopnavbar li {
	display: inline;
}

#ext_hometopnavbar a {

	font-family: Arial, Verdana;
	font-size: 1em;
	font-weight: bold;
}

#ext_hometopnavbar a:link, #ext_hometopnavbar a:visited{

	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	color: #493F0B;
}

#ext_hometopnavbar a:hover {
	color: #FFFFFF;
}

#bd {
	margin-left: 10px;
	margin-right: 10px;
    margin-top: 20px;
}

#banner {
	margin-top: 10px;
	margin-bottom: 15px;
}

#title_1 {
	background-image: url('/themes/default/images/ttl_easiest_way.gif');
	background-repeat: no-repeat;
	width: 467px;
	height: 30px;
}

#title_1 h1{
	display: none;
}

#title_2 {
	background-image: url('/themes/default/images/Ttl_Benefits.gif');
	background-repeat: no-repeat;
	width: 330px;
	height: 30px;
}

#title_2 h1{
	display: none;
}

#paragraph_1 {
	margin-top: 10px; 
	margin-bottom: 20px;
}

#paragraph_2 {
	margin-top: 10px; 
	margin-bottom: 20px;
	margin-left: 20px;
}

#paragraph_2 span {
	background-image: url('/themes/default/images/Ttl_Benefits.gif');
	background-repeat: no-repeat;
	background-position: top left;
	width: 325px;
	height: 30px;	
}

#paragraph_2 ul li {
	list-style-image: url('/themes/default/images/bullet_1.gif');
	list-style-type: disc;
}

.small_text {
	float: right;
	font-size: 80%;
	font-weight: bold;
}

/* CONVERT */

.home_tabs {
	float: left;
	height: 30px;
	list-style: none;
	width: 100%;
	background-color: #FFFFFF;
}

ul.home_tabs a {
	background: #A7A37E url('/themes/default/images/tabs_home.gif');
	font-size: 100%;
	color: #7D892E;
	display: block;
	float: left;
	height: 30px;
	padding-left: 20px;
	text-decoration: none;
}

ul.home_tabs a:hover {
	background-color: #FFFFFF;
	background-position: 0 -120px;
	color: white;
}

ul.home_tabs a:hover span {
	background-position: 100% -120px;
}

ul.home_tabs li {
	float: left;
	margin: 0px 2px 0 0;
}

ul.home_tabs li.current a {
	background-color: #E6E2AF;
	background-position: 0 -60px;
	color: #493F0B;
	font-weight: bold;
}

ul.home_tabs li.current span {
	background-position: 100% -60px;
}

ul.home_tabs span {
	background: url('/themes/default/images/tabs_home.gif') 100% 0;
	cursor: pointer;
	display: block;
	float: left;
	line-height: 30px;
	padding-right: 20px;
}

/* END CONVERT */

#signup_box {
	margin: 0;
	display: block;
}

#signup_box .home_content {
	padding-left: 8px;	
    border: none;
    background-color: #E0EDA8;
}

#signup_box .home_content label {
	font-size: 90%;
    padding-bottom: 5px;
	color: #7D892E;	
    width: 95%;
}

#password_link {
    font-size: 90%;
    color: #7D892E;	
}

#signup_box .login_input {
    width:85%;
}

.form_input {
	padding: 2px;
	width: 90%;
	border: 1px solid #A7A37E;
	font-family: "Trebuchet MS", Arial;
	font-size: 80%;
	height: 18px;
	margin-bottom: 7px;
}

#signup_box h1 {
	font-size: 14pt;
}

#login_box .home_content {
	padding-left: 8px;
	border: none;
    background-color: #E0EDA8;
}

#login_box .home_content label {
	font-size: 90%;
	color: #7D892E;	
    padding-bottom: 5px;  
    width:95%;
}

#login_box .login_input {
    width:90%;
}

#login_box h1 {
	font-size: 14pt;
}

.page_header {
    color: #493F0B;
    font-size: 130%;
    padding-bottom:10px;
}

#extra_box {
	margin-top: 20px;
	background-color: #E0EDA8;	
}

#extra_box .home_content {
	padding-top: 20px;
	padding-left: 35px;
	padding-right: 10px;	
    border: none;
}

#extra_box ul li {
	list-style-image: url('/themes/default/images/bullet_2.gif');
	list-style-type: disc;
}

/* ---------  BOTTOM ROUNDED CORNERS --------- */


.corner_box1_bl {
	height: 22px;
	background-image: url('/themes/default/images/bl_box1.gif');
	background-repeat: no-repeat;
	background-position: bottom left;

}

.corner_box1_br {
	height: 22px;
	background-image: url('/themes/default/images/br_box1.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
}

/* --------- EXTRA BOX TOP ROUNDED CORNERS --------- */

.corner_box1_tl {
	 background-image: url('/themes/default/images/tl_box1.gif');
	 background-repeat: no-repeat;
	 background-position:  top left;
	 height: 20px;	 
}

.corner_box1_tr {
	background-image: url('/themes/default/images/tr_box1.gif');
	background-repeat: no-repeat;
	background-position:  top right;
	height: 20px;	 
}

.corner_box2_tl {
	 background-image: url('/themes/default/images/tl_box2.gif');
	 background-repeat: no-repeat;
	 background-position:  top left;
	 height: 40px;	 
}

.corner_box2_tr {
	background-image: url('/themes/default/images/tr_box2.gif');
	background-repeat: no-repeat;
	background-position:  top right;
    height: 40px;	 
}

.corner_box2_tr p {
    padding-top: 10px; 
    color: #FFFFFF; 
    font-size: 12pt; 
    text-align:center; 
    font-weight:bold;
}

.button_position {

	text-align: center;
	padding-top: 15px;
}

.login_fields {
    width:60%;
}

.login_fields label{
    width: 25%;
}

.front_page_button{
    width:50%;
}

.login_input {
    width:45%;  
}

.yui-t8 { 
    margin:auto; 
    text-align:left; 
    width:57.69em;*width:56.3em;min-width:750px;
} 

.yui-t8 #yui-main { 
    float:right; 
    margin-left:-25em;/* IE: preserve layout at narrow widths */ 
} 

.yui-t8 .yui-b { 
    float:left; 
    *width:12.0106em; 
    width:24%; 
} 

.yui-t8 #yui-main .yui-b{ 
    *margin-left:13.0106em; 
    margin-left:25.5%; 
} 

#login_box .home_content .empty {
	margin-bottom: 0px !important;
	height: 30px !important;
}

.tour_box_tl {
    background-position:left top;
    background-repeat:no-repeat;
    height:57px;
}

.tour_header_small{
    background-image:url(/themes/default/images/tl_tour_small.gif);	
}

.tour_header{
    background-image:url(/themes/default/images/tl_tour.gif);	
}

.tour_box_tr {
    background-image:url(/themes/default/images/tr_tour.gif);
    background-position:right top;
    background-repeat:no-repeat;
    height: 20px;
}
.tour_box_bl {
    background-image:url(/themes/default/images/bl_green_outline.gif);
    background-position:left bottom;
    background-repeat:no-repeat;
    height:20px;
}
.tour_box_br {
    background-image:url(/themes/default/images/br_green_outline.gif);
    background-position:right bottom;
    background-repeat:no-repeat;
    height:20px;
}
#tour_box {
    background-color:#FFFFFF;
    margin-top:20px;
}
#tour_box .content {
    border-left:1px solid #A7C520;
    border-right:1px solid #A7C520;
    background-image: none;
}
#login_bar {
    float:right;
/*    margin-top:-55px;*/
    padding-right:12px;
}
#login_bar ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0pt;
    padding:0pt;
}
#login_bar li {
    display:inline;
    font-size:100%;
    font-weight:bold;
    margin-right:15px;
}

#contest_button{
	 padding-top: 190px;
	 text-align: center;
}

#text_content {
    background-image:url(/themes/default/images/mainbox_BG.gif);
    background-position:left bottom;
    background-repeat:repeat-x;
    border-left:1px solid #A7C520;
    border-right:1px solid #A7C520;
    padding-left:10px;
    padding-right:10px;
    padding-top:20px;
}
#text_content h1 {
    color:#493F0B;
    font-size:120%;
    font-weight:bold;
    margin:0pt;
    padding:0pt;
}
#text_content span {
    display:block;
    margin-bottom: 15px;
}

.span_without_margin{
	margin-bottom: 0px !important; 
}

.infobox_empty {
    font-size:110%;
}

.bullet li {
	list-style-type: disc;
}

.indented li{
	margin-left: 30px;
}

input.go_button {
  font-size: 150%;
  font-weight:bold;
  min-width: 150px;
  color:#493F0B;
}

#invitation-button-container{
  text-align:center;
  padding:15px;
}

div.about_video {
  text-align: right;
  float:right;
  margin: 10px 0 0 10px;
}

a.attrib_link{
  font-size: 75%;
  color: gray;
}
