.content h1 {

	font-size: 120%;
	font-weight: bold;
	color: #493F0B;
	margin: 0;
	padding-bottom: 0.5em;

}

.content span {

	margin-bottom: 15px;
	display: block;

}

.secondary_lists {

	margin-left: 20px;
	margin-bottom: 15px;
}


.secondary_lists ul li {

	margin-left: 20px;
	margin-bottom: 5px;
	list-style-image: url('/images/bullet_1.gif');
	list-style-type: disc;
	list-style-position: inside;

}

.bold {

	font-weight: bold;
	color: #7D892E;
}

.infobox {
	
	background-image: url('/themes/default/images/infobox_left.gif');
	background-repeat: no-repeat;
	background-position:  left bottom;
	background-color: #E9921B;
	margin-left: 30px

}

/*  FIX - P REPLACED WITH DIV CALLED INFOBOX_R ON ACTUAL APP     */
.infobox p {

	padding-left: 15px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('/themes/default/images/infobox_right.gif');
	background-repeat: no-repeat;
	background-position:  right top;
	color: #FFFFFF;
	font-size: 100%;
	font-weight: bold	

}

.infobox p span {

	background-image: url('/themes/default/images/infobox_star.gif');
	background-repeat: no-repeat;
	width: 20px

}