<%@skip_footer= true%>
<br/>
<p class="simply_header" align="center"><%= _('You have been logged on.') %></p> 
<br/><br/><p align="center"><a class="caption" href="javascript:page_complete()" id="continue-button"><%= _('Continue') %></a></p>
<br/><br/>


