<% @content_for_main = capture do %>
  <div class="yui-gd">
    <div class="simply_wrapper_big">      	
      <p align="center" class="simply_header">
        <%= explain_error %>
      </p>
    </div>
  </div>
<% end %>
  
