  <p>
    <b><%= _('Unit') %></b><br />
    <%= f.text_field :unit %>
  </p>

  <p>
    <b><%= _('Description') %></b><br />
    <%= f.text_area :description %>
  </p>

  <% f.hidden_field :position %>
  <% f.hidden_field :id %>
