<%#used for display things that are outside of the corners %>
<div>
  <%= @content_for_main_top %>	
</div>

<div> 
  <br/>
  <div class="yui-gb">
    <div class="yui-u first">&nbsp;</div>
	 	<div class="content">
      <%= @content_for_main %>			
	  </div>
    <div class="yui-u" >&nbsp;</div>
  </div>
</div> 
